spring:
    application:
        name: ai-service
    data:
        uri: mongodb://localhost:27017/FitnessRecom
        database: FitnessRecom

server:
  port: 8085

eureka:
  instance:
    hostname: localhost
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
