spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/Fitness
    username: postgres
    password: Golu@1234
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

      
